<a href="https://colab.research.google.com/github/SWONWOO/programing/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC(%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%2C%EC%84%B8%ED%8A%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 5장 컬렉션 자료형

In [4]:
# 리스트 자료형
a=[10,10,10,10]
a[0] = int(input('num1 : '))
a[1] = int(input('num2 : '))
a[2] = int(input('num3 : '))
a[3] = int(input('num4 : '))

hap = a[0]+a[1]+a[2]+a[3]

print('hap', hap)

num1 : 10
num2 : 10
num3 : 10
num4 : 10
hap 40

**리스트 조작함수**

append() - 리스트 요소를 마지막 위치에 새로 추가 / 리스트.append(값)

insert() - 리스트의 해당 위치에 요소를 새로 삽입 / 리시트.insert(위치,값)

sort() - 오름차순,내림차순 정렬 / 리스트.sort(), 리스트,sort(reverse=True)

reverse() - 현재의 리스트를 그대로 거꾸로 뒤집는다 / 리스트.reverse()

pop() - 리스트 제일 뒤의 항목 빼내고, 빼낸 항목 삭제, 제거할 위치에 있는 요소 제거 / 리스트.pop(), 리스트.pop(위치)

remove() - 해당 요소를 찾아 삭제 / 리스트.remove(삭제할값)

count() - 해당 요소의 개수를 반환 / 리스트.count(찾을값)

index() - 해당 요소의 위치값을 반환 / 리스트.index(값)

len() - 리스트 총 요소의 개수를 반환 / len.(리스트)

In [26]:
#5장 도전 2-1 (리스트 조작 함수 활용)

name = ['홍일동', '홍이동', '홍삼동']
print(name)

name.append('홍사동')
print(1,name)

name.insert(1,'홍이동')
print(2,name)

print(3,name.count('홍이동'))

name.reverse()
print(4,name)

name.remove('홍일동')
print(5,name)

name.sort(reverse=True)
print(6,name)

print(7,len(name))

['홍일동', '홍이동', '홍삼동']
1 ['홍일동', '홍이동', '홍삼동', '홍사동']
2 ['홍일동', '홍이동', '홍이동', '홍삼동', '홍사동']
3 2
4 ['홍사동', '홍삼동', '홍이동', '홍이동', '홍일동']
5 ['홍사동', '홍삼동', '홍이동', '홍이동']
6 ['홍이동', '홍이동', '홍삼동', '홍사동']
7 4

**딕셔너리 조작함수**
get() - 항목 접근하기 / 딕셔너리.get(key)

pop() - 항목 꺼내고 삭제하기 / 딕셔너리.pop(key)

del() - 항목 삭제하기 / del(딕셔너리[key])

items() - 딕셔너리에 저장된 모든 항목 / 딕셔너리.items()

keys() - 딕셔너리에 저장된 키 / 딕셔너리.keys()

values() - 딕셔너리에 저장된 값 / 딕셔너리.values()

In [39]:
# 5장 도전 2-2 (딕셔너리,리스트 문제)
addr = {}

addr['최재원'] = '010-1111-1234'
addr['최지윤'] = '010-2222-1234'
addr['김연수'] = '010-3333-1234'
addr['김연우'] = '010-4444-1234'
addr['김가현'] = '010-5555-1234'
addr['김혜현'] = '010-6666-1234'

print(addr)
print()

list1 = list(addr.keys())
print(list1)
name = input('search name : ')
print(addr.get(name,'not found'))

{'최재원': '010-1111-1234', '최지윤': '010-2222-1234', '김연수': '010-3333-1234', '김연우': '010-4444-1234', '김가현': '010-5555-1234', '김혜현': '010-6666-1234'}

['최재원', '최지윤', '김연수', '김연우', '김가현', '김혜현']
search name : 김가현
010-5555-1234

**세트 조작함수**
add() - 값 1개 추가

update() - 값 여러개 추가

remove() - 특정 값 삭제

In [46]:
# 5장 도전 2-3(세트 문제)
clubA={'Kim', 'park', 'hwang'}
clubB={'park', 'lee', 'choi'}
clubC = clubA | clubB
print(clubC)
print(clubA & clubB)
print(clubA - clubB)
print(clubB - clubA)
clubA.add('yang')
clubB.remove('lee')
print(clubA)
print(clubB)

{'Kim', 'hwang', 'lee', 'park', 'choi'}
{'park'}
{'Kim', 'hwang'}
{'lee', 'choi'}
{'Kim', 'yang', 'hwang', 'park'}
{'choi', 'park'}