In [ ]:
# 데이프레임 컬럼 레이블 변경

from pandas import DataFrame

from pandas import DataFrame

data = [
    ['3R', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037730', '036360', '005760']
columns = ['종목명', '현재가', '등락률']

df = DataFrame(data = data, index = index, columns = columns)
df.index.name = '종목코드'
print(df)
print(df.index)
print(df.columns)
print()

df.columns = ['name', 'close', 'fluctuation']
df.index.name = 'code'
print(df)

# 컬럼명 중 일부만 변경하고자 할때 유용한 rename 메소드

df.rename(columns = {'name' : 'name1'}, inplace = True)
print(df)

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28
Index(['037730', '036360', '005760'], dtype='object', name='종목코드')
Index(['종목명', '현재가', '등락률'], dtype='object')

         name  close  fluctuation
code
037730     3R   1510         7.36
036360  3SOFT   1790         1.65
005760   ACTS   1185         1.28
        name1  close  fluctuation
code
037730     3R   1510         7.36
036360  3SOFT   1790         1.65
005760   ACTS   1185         1.28

In [ ]:
# 데이터 타입 변경

from pandas import DataFrame

data = [
    ['1,000', '1,100', '1,510'],
    ['1,410', '1,420', '1,790'],
    ['850', '900', '1185']
]

columns = ['03/02', '03/03', '03/04']
df = DataFrame(data = data, columns = columns)
print(df)
print()


# 각 컬럼을 시리즈 단위로 map 메소드 사용
#def remove_comma(x):
  #return int(x.replace(',', ''))

#df['03/02'] = df['03/02'].map(remove_comma)
#df['03/03'] = df['03/03'].map(remove_comma)
#df['03/04'] = df['03/04'].map(remove_comma)
#print(df)
#print()

# applymap 메소드
def remove_comma(x):
  return x.replace(',','')

df = df.applymap(remove_comma)
print(df)
print(df.dtypes)
print()

# astype 메소드
import numpy as np
df = df.astype( {'03/02' : np.int64, '03/03' : np.int64, '03/04' : np.int64})
print(df)
print(df.dtypes)

   03/02  03/03  03/04
0  1,000  1,100  1,510
1  1,410  1,420  1,790
2    850    900   1185

  03/02 03/03 03/04
0  1000  1100  1510
1  1410  1420  1790
2   850   900  1185
03/02    object
03/03    object
03/04    object
dtype: object

   03/02  03/03  03/04
0   1000   1100   1510
1   1410   1420   1790
2    850    900   1185
03/02    int64
03/03    int64
03/04    int64
dtype: object

/tmp/ipython-input-3860666531.py:31: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(remove_comma)

In [ ]:
# 컬럼의 문자열 다루기

from pandas import DataFrame
import numpy as np

data = [
    {'cd' : 'A060310', 'nm' : '3S', 'close' : '2,920'},
    {'cd' : 'A095570', 'nm' : 'AJ네트웍스', 'close' : '6,250'},
    {'cd' : 'A006840', 'nm' : 'AK홀딩스', 'close' : '29,700'},
    {'cd' : 'A054620', 'nm' : 'APS홀딩스', 'close' : '19,400'}
]

df = DataFrame(data)
# cd컬럼의 값에서 A 빼기 (.str)
df['cd'] = df['cd'].str[1:]
# close컬럼의 문자열에서 콤마 제거
df['close'] = df['close'].str.replace(',', '').astype(np.int64)
df

# .str = 시리즈를 각각 문자열로 인식해서 내부조작

       cd      nm  close
0  A06031      3S   2920
1  A09557  AJ네트웍스   6250
2  A00684   AK홀딩스  29700
3  A05462  APS홀딩스  19400