In [1]:
# 시리즈 인덱스

from pandas import Series

data = [1000,2000,3000]
s = Series(data) # index 지정 안하면 0부터 시작하는 정수로 index지정
print(s.index) # 시리즈 데이터의 구간 정보를 저장하는 RangeIndex 객체가 들어있고 0부터 2까지 1씩 증가함을 알려줌
print(s.index.to_list()) # to_list 메소드를 호출하면 파이썬 리스트로 값 변환
s.index = ['메로나', '구구콘', '하겐다즈'] # 인덱스 데이터를 리스트나 ndarray로 변환 가능 (인덱스 데이터와 개수가 같아야함)
print(s)

# 생성할때 index 지정
data1 = [1000,2000,3000]
index = ['요맘떼', '더위사냥', '쿠키앤크림']
s = Series(data1, index)
# s = Series(data = data1, index = index) data와 index 순서 거꾸로도 가능 but, 둘다 = 을 사용하지 않으면 data가 첫번째, index가 두번째 고정
print(s)
s2 = s.reindex(['요맘떼', '구구콘', '쿠키앤크림']) # 기존에 있었던 인덱스는 기존값 그대로 사용, 새로운 인덱스에는 (결측값)NaN값으로 채움)
print(s2)
print(s2.fillna(0)) # NaN값을 0으로 변경할때 fillna 메소드 사용


# 위 reindex 메소드 사용할때 NaN값을 0으로 한번에 처리하는 과정
s3 = s.reindex(['요맘떼', '구구콘', '쿠키앤크림'], fill_value = 0)
print(s3)

# 실전 데이터 연습
price = [42500,42550,41800,42550,42650]
date = ['2019-05-31', '2019-05-30', '2019-05-39', '2019-05-28', '2019-05-27']
s = Series(data = price, index = date)
print(s)
# 딕셔너리로 한번에 정의 가능
data = {
    '2019-05-31' : 42500,
    '2019-05-30' : 42550,
    '2019-05-29' : 41800,
    '2019-05-28' : 42550,
    '2019-05-27' : 42650
}
s = Series(data)
print(s)
print(s.index) # 시리즈에 저장된 인덱스 = 딕셔너리 키
print(s.values) # 시리즈에 저장된 값 = 딕셔너리 값

RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]
메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64
요맘떼      1000
더위사냥     2000
쿠키앤크림    3000
dtype: int64
요맘떼      1000.0
구구콘         NaN
쿠키앤크림    3000.0
dtype: float64
요맘떼      1000.0
구구콘         0.0
쿠키앤크림    3000.0
dtype: float64
[1000 2000 3000]
요맘떼      1000
구구콘         0
쿠키앤크림    3000
dtype: int64
2019-05-31    42500
2019-05-30    42550
2019-05-39    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64
2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64
Index(['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27'], dtype='object')
[42500 42550 41800 42550 42650]

In [ ]:
# 시리즈 인덱싱

from pandas import Series

# iloc 인덱싱(행번호 인덱싱)
data = [1000,2000,3000]
s = Series(data=data)

print(s.iloc[0])
print(s.iloc[1])
print(s.iloc[2])
print(s.iloc[-1])

# loc 인덱싱(인덱스 값 인덱싱)
print()
print(s.loc[0])
print(s.loc[1])
print(s.loc[2])
# print(s.loc[-1]) 에러 - -1이라는 인덱스가 시리즈 객체에 없으므로 에러 발생

# 문자열 인덱스가 설정된 경우
print()
index = ['메로나', '구구콘', '하겐다즈']
s = Series(data=data, index = index)

print(s.iloc[0])
print(s.loc['메로나'])
# loc과 iloc 두 가지 연산이 존재하는 이유 : 각각 더 편리한 경우가 있음 (1월 종가 데이터에서 첫거래일을 가져올때 첫 거래일이 언제인지 불명확할 경우 iloc[0]사용 등등)

# iloc과 loc 둘 다사용하지 않을경우 시리즈가 알맞은 데이터 찾아서 반환 (기본적으로 loc메소드를 호출하므로 조심해서 사용)
print()
print(s['메로나'])
print(s[0])

# 시리즈의 인덱스 인덱싱(숫자를 사용한 인덱싱만 지원)
print()
print(s.index[0])
print(s.index[-1])

1000
2000
3000
3000

1000
2000
3000

1000
1000

1000
1000

메로나
하겐다즈

/tmp/ipython-input-2091347219.py:33: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [ ]:
# 시리즈 슬라이싱

from pandas import Series

# 행번호(iloc)을 이용한 슬라이싱
data = [1000,2000,3000]
index = ['메로나', '구구콘', '하겐다즈']
s = Series(data=data, index=index)
print(s.iloc[0:2])

# 인덱스(loc)을 이용한 슬라이싱
print()
print(s.loc['메로나':'구구콘']) #iloc은 끝번호 -1까지 데이터를 가져왔지만 loc은 끝인덱스도 포함해서 가져옴

# 연속적이지 않은 값 슬라이싱
print()
indice = [0,2]
print(s.iloc[indice])
print(s.iloc[[0,2]])

indice = ['메로나','하겐다즈']
print(s.loc[indice])
print(s.loc[['메로나', '하겐다즈']])

메로나    1000
구구콘    2000
dtype: int64

메로나    1000
구구콘    2000
dtype: int64

메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

In [3]:
# 시리즈 수정/추가/삭제

from pandas import Series

data = [1000,2000,3000]
index = ['메로나', '구구콘', '하겐다즈']
s = Series(data=data, index=index)

# 수정,추가
s.iloc[0] = 500
s.loc['구구콘'] = 1000 # loc,iloc연산으로 접근한 뒤 변경할 값 입력
print(s)
s.loc['비비빅'] = 500 # 시리즈에 인덱스가 존재하지 않으면 새로운 값 추가
print(s)

# 삭제
print()
print(s.drop('메로나'))
s = s.drop('메로나')
print(s)
#print(s.drop(0)) 에러 - drop메서드는 인자로 인덱스만 사용가능

메로나      500
구구콘     1000
하겐다즈    3000
dtype: int64
메로나      500
구구콘     1000
하겐다즈    3000
비비빅      500
dtype: int64

구구콘     1000
하겐다즈    3000
비비빅      500
dtype: int64
구구콘     1000
하겐다즈    3000
비비빅      500
dtype: int64

In [5]:
# 시리즈 연산

from pandas import Series

철수 = Series(data = [10,20,30], index = ['NAVER', 'SKT', 'KT'])
영희 = Series(data = [10,30,20], index = ['SKT', 'KT', 'NAVER'])
가족 = 철수 + 영희
print(가족) # 데이터의 위치와 상관없이 같은 index끼리 계산

# 스칼라 연산 -> 브로드캐스팅 적용해서 모든 시리즈 데이터에 연산 후 반환
print()
print(철수 * 10)

# 변동폭 계산
high = Series([42800, 42700, 42050, 42950, 43000])
low = Series([42150, 42150, 41300, 42150, 42350])
diff = high - low
print(diff)
print(diff.max()) # 가장 변동폭이 큰값

# 날짜 인덱스 변동폭
print()
date = ['6/1', '6/2', '6/3', '6/4', '6/5']
high = Series([42800, 42700, 42050, 42950, 43000], index = date)
low = Series([42150, 42150, 41300, 42150, 42350], index = date)
diff = high - low
print(diff)

# idxmax, idxmin 메소드
print()
print(diff.idxmax())
print(diff.idxmin()) # 최대값일때의 인덱스와 최솟값일때의 인덱스 반환

# 수익률
print()
profit = high / low
print(profit)

# 누적 수익률 - cumprod 메소드
print()
print(profit.cumprod())
print(profit.cumprod().iloc[-1]) # cumprod 메소드 결과는 시리즈이므로 인덱싱으로 값 추출 가능

# unique, value_counts 메소드
print()
data = {
    '삼성전자' : '전기,전자',
    'LG전자' : '전기,전자',
    '현대차' : '운수장비',
    'NAVER' : '서비스업',
    '카카오' : '서비스업'
}
s = Series(data)
print(s.unique()) #중복제거 (values중 유일한 값들 반환)
s.value_counts() # 값의 출현 빈도 계산

KT       60
NAVER    30
SKT      30
dtype: int64

NAVER    100
SKT      200
KT       300
dtype: int64
0    650
1    550
2    750
3    800
4    650
dtype: int64
800

6/1    650
6/2    550
6/3    750
6/4    800
6/5    650
dtype: int64

6/4
6/2

6/1    1.015421
6/2    1.013049
6/3    1.018160
6/4    1.018980
6/5    1.015348
dtype: float64

6/1    1.015421
6/2    1.028671
6/3    1.047351
6/4    1.067230
6/5    1.083610
dtype: float64
1.0836101509172456

['전기,전자' '운수장비' '서비스업']

전기,전자    2
서비스업     2
운수장비     1
Name: count, dtype: int64