In [3]:
# 시리즈와 Map

from pandas import Series

s = Series(['1,234', '2,345','3,456'])

def remove_comma(x) :
  return int(x.replace(',', ''))

result = s.map(remove_comma)
print(result)

def is_greater_than_2000(x) :
  if x > 2000 :
    return '크다'
  else :
    return '작다'

result = result.map(is_greater_than_2000)
print(result)

0    1234
1    2345
2    3456
dtype: int64
0    작다
1    크다
2    크다
dtype: object

In [12]:
# 시리즈 필터링

from pandas import Series

data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
s = Series(data = data, index = index)
cond = s > 42000
print(cond)
print(s[cond])
print()

close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
oepn = Series(data = open, index = index)
close = Series(data = close, index = index)

cond = close > open
print(cond)
print(close[cond]) # = close[close > open]
print(close[cond].index)
print()

diff = close - open
print(diff)
print(diff[cond])

2019-05-31     True
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool
2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28    False
2019-05-27     True
dtype: bool
2019-05-30    42550
2019-05-27    42650
dtype: int64
Index(['2019-05-30', '2019-05-27'], dtype='object')

2019-05-31   -100
2019-05-30    350
2019-05-29    -50
2019-05-28      0
2019-05-27    150
dtype: int64
2019-05-30    350
2019-05-27    150
dtype: int64

In [18]:
# 시리즈 정렬 및 순위

from pandas import Series

# sort_values() 정렬
data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
s = Series(data = data, index = index)

print(s.sort_values()) # 오름차순 정렬
print(s.sort_values(ascending = False)) # 내림차순 정렬
print()

# rank() 순위

print(s.rank()) # 데이터 값이 작은 순위
print(s.rank(ascending = False)) # 데이터 값이 큰 순위

000020     2.0
000010     3.1
000040     5.1
000030    10.1
dtype: float64
000030    10.1
000040     5.1
000010     3.1
000020     2.0
dtype: float64

000010    2.0
000020    1.0
000030    4.0
000040    3.0
dtype: float64
000010    3.0
000020    4.0
000030    1.0
000040    2.0
dtype: float64